body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  /* background-image: url(/img/pexels-jesse-baxter-3484080-5252848.jpg); */
}

.galaxy {
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  /* background-size: 200% 200%; */
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/pexelst2.jpg);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("stars.png");
  background-size: 100% 100%;
  animation: twinkle 5s infinite;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}
::selection {
  background-color: black;
  color: #fff;
}

/* @keyframes galaxy {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
