* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #1f1f1f;
}
img {
  width: 350px;
  height: 250px;
}
h1 {
  text-align: center;
  margin: 0.5rem;
  text-decoration: underline;
  color: white;
}
.posts {
  display: flex;
  color: white;
  gap: 2rem;
  justify-content: center;
  margin-top: 3.5rem;
}
.satlite,
.shuttles,
.space_rover {
  box-shadow: 5px 10px 8px #888888;
  margin-top: 2rem;
  width: 350px;
  transform: translate(-5px, -5px);
}
.shuttles:hover {
  box-shadow: 5px 10px 8px #888888;
  transform: translate(-5px, -20px);
  cursor: pointer;
}
.satlite:hover {
  box-shadow: 5px 10px 8px #888888;
  transform: translate(-5px, -20px);
  cursor: pointer;
}
.space_rover:hover {
  box-shadow: 5px 10px 8px #888888;
  transform: translate(-5px, -20px);
  cursor: pointer;
}
.space_rover:active {
  transform: scale(1.5);
  margin-right: 75px;
  margin-left: 75px;
}
.shuttles:active {
  transform: scale(1.5);
  margin-right: 75px;
  margin-left: 75px;
}
.satlite:active {
  transform: scale(1.5);
  margin-right: 75px;
  margin-left: 75px;
}
